.top-navbar {
  background-color: grey;
  height: 50px;
  width: 100%;
  text-align: center;
}

.navbar-brand {
  height: auto;
  align-items: center;
  font-size: 35px;
  text-decoration: none;
  color: white;
}
